[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wordcloud = "*"
matplotlib = "*"
beautifulsoup4 = "*"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
jupyter = "*"
beautifulsoup4 = "*"
nltk = "*"

[requires]
python_version = "3.6"
